
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
  background: #0c0116;
  display: flex;
  align-items: center;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
 
}
.login>h2{
  margin-bottom:10vmin;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: xxx-large;
  color:#4A80f0;
  ;

}
.form {
  position: relative;
  background: #0c0116;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgb(116, 119, 114);
  border-radius: 5px;
  padding: 60px 15px;
  width: 470px;
  height: 350px;
}

.form-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #0c0116;
  height: 98%;
  width: 98%;
  transform: translate(-50%, -50%);
}

.content {
  width: 100%;
  padding: 25px;
  height: 100%;
}
.form-inner h2 {
  text-align: center;
  padding-top: 35px;
  font-size: 30px;
  color: #6e8ee8;
}
.input {
  display: block;
  padding: 12px 15px;
  border: 1.5px solid rgb(99, 94, 255);
  outline: none;
  background: #19052c;
  color: white;
  width: 100%;
  left: 50%;
  border-radius: 10px;
  margin-top: 20px;
}
.btn {
  margin-top: 40px;
  width: 100%;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.4s;
  padding: 12px;
  outline: none;
  background: #4A80f0;
}
.btn:hover {
  background: #2062f0;
}

.form span {
  height: 50%;
  width: 50%;
  position: absolute;
}

.form span:nth-child(1) {
  background: #ffda05;
  animation: 5s span1 infinite linear;
  animation-delay: 1s;
  top: 0;
  left: -48%;
}
.form span:nth-child(2) {
  background:#4A80f0;
  bottom: 0;
  right: -48%;
  animation: 5s span2 infinite linear;
}
.form span:nth-child(3) {
  background: #800080;
  top: 0px;
  animation: 5s span3 infinite linear;
  right: -48%;
}
.form span:nth-child(4) {
  animation: 5s span4 infinite linear;
  animation-delay: 1s;
  background: #ff0000;
  bottom: 0;
  right: -48%;
}

@keyframes span1 {
0% {
top: -48%;
left: -48%;
}
25% {
top: -48%;
left: 98%;
}
50% {
top: 98%;
left: 98%;
}
75% {
 top: 98%;
 left: -48%;
}
100% {
 top: -48%;
 left: -48%;
}
}
@keyframes span2 {
0% {
 bottom: -48%;
 right: -48%;
}
25% {
 bottom: -48%;
 right: 98%;
}
50% {
 bottom: 98%;
 right: 98%;
}
75% {
 bottom: 98%;
 right: -48%;
}
100% {
 bottom: -48%;
 right: -48%;
}
}
@keyframes span3 {
0% {
 top: -48%;
 left: -48%;
}
25% {
 top: -48%;
 left: 98%;
}
50% {
 top: 98%;
 left: 98%;
}
75% {
 top: 98%;
 left: -48%;
}
100% {
 top: -48%;
 left: -48%;
}
}

@keyframes span4 {
0% {
 bottom: -48%;
 right: -48%;
}
25% {
 bottom: -48%;
 right: 98%;
}
50% {
 bottom: 98%;
 right: 98%;
}
75% {
 bottom: 98%;
 right: -48%;
}
100% {
 bottom: -48%;
 right: -48%;
}
}
/*
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(https://media.istockphoto.com/id/1155270678/vector/abstract-image-book-in-the-form-of-a-starry-sky-or-space-consisting-of-points-lines-and.jpg?s=612x612&w=0&k=20&c=eTBFsVAGG_b8BcJFlTI9KXk24yL1fGxBdb4BkrXx_hs=);
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;


  
}
 .login>h2{
  margin-bottom:10vmin;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xxx-large;
  color: aliceblue;

}
.input-group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 60vmin;
  height: 40vmin;
  margin-top:2vmin ;
  margin-bottom:-180px ;
}

.input-group>input{
  padding: 2vmin;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  box-shadow: 0 0 4px 0 #00000047;

}
.input-group>label{
  padding: 1vmin;
  border-radius: 6px;
  display: flex;
  font-family:Georgia, 'Times New Roman', Times, serif;
  justify-content: start;
  align-self: flex-start;
  background-color: #4A80f0;
}
.action-group{
  padding: 4vmin;
  display: flex;
  border-radius: 6px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  justify-content: space-between;
  align-self: center;
  flex-direction: column;
  margin-top: -25vmin;
  width: 50vmin;
}
.action-group > button {
   margin: 1vmin;
   padding: 1vmin;
   cursor: pointer;
   font-size: large;
}
.action-group > button:hover {
  margin: 1vmin;
  padding: 0.9vmin;
  cursor: pointer;
  font-size: large;
}

.action-group > .Login{
  background-color: #4A80f0;
} */