.AboutBook{
    position: sticky;
    top: 0;
    width:50vmin;
    height: 100vmin;
    box-shadow: 0px -5px 10px 3px #0000001a;
    background-color: #0e0c22;
    border-radius:0px 20px 20px 0px;  
    color: aliceblue;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.titleImg{
  width: 170px;
  height: 250px;
  border-radius: 15px;
}
.title{
    font-size: 20px;
    font-weight:2px;
    text-shadow: 3px;
}
.buy-book{
    width:40vmin;
    padding: 10px;
    box-shadow: 0px -5px 10px 3px #0000001a;
    border-radius:20px;  
    color: aliceblue;  
    background-color: #4A80f0;
    cursor: pointer;
    color: #fdfdfd;
    font-size: 20px;
    font-weight:2px;
    text-shadow: 3px;
    margin-bottom: 10px;
    border: none;
}


  .AboutBook>.Book{
    height: 50% ;
    padding: 20px;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .AboutBook>.Book>.bookTitle {
    font-size: 17px;
    text-shadow: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;


  }
  .authorTitle {
    font-size: 13px;
    text-shadow: 3px;
    display: flex;
    margin: 6px 0px;
    justify-content: center;
    color: gray;
  } 
  .AboutBook>.bookInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0px;
    background-color: #1e1e25;
    padding: 20px;
    border-radius:20px ;
    width: 40vmin;
    
  }
  .AboutBook>.bookInfo>.smallInfo{
    display: flex;
    flex-direction: column;
  }
  .AboutBook>.bookInfo>.smallInfo>.info {
    font-size: 5px;
    text-shadow: 3px;
    
  } 

.plot{
  margin-left: 20px;
  text-align: start;
  padding: 0px 10px;
  margin-top: 10px;  
}
.book-description{
    font-size: 15px;
    font-weight:2px;
    text-shadow: 3px;
    text-align: start;
    line-height: 2em;  
    color: white;
  
}
