.sidebar{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:30vmin;
    height: 100vh;
    box-shadow: 0px -5px 10px 3px #0000001a;
    background-color: rgb(14, 12, 34);
}

.sidebar>.icon{ 
    display: flex;
    margin: 5px 0px;
    border-radius: 5vmin ;
    width: 21vmin;
    height: 5vmin;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
    cursor: pointer;
}

.icon>span{ 
    margin-left: 6px;
    color:#858589;

}

.hrList{
    width: 20vmin;
    background-color: #858589;
    margin: 23px 0px;
}

.icon:hover span{
    color: rgb(247, 255, 240);
}


.icon:hover{
    background-color: #4A80f0;
}