.post {
  width: 180px;
  height: 300px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: stretch;
  align-self: center;
  justify-self: center; 
  */
  margin-left: 20vmin;
  margin-top: 50vmin;
  
}
.post:hover{
  background-color: #4A80f0;
  cursor: pointer;
  color: #fdfdfd;

}
 .postBook {
  height: 190px;
  width: 150px;
  padding: 0px 0px 20px 0px;
  box-shadow: 0 0 4px 0 #00000047;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-self: center;
  justify-self: center;
  background-color: #fdfdfd;

}

.post>.body {
  flex-grow: 2;
}
.post>.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  margin-left: 15px;
}

.post>.info>.bookTitle {
  font-size: 5px;
  font-weight: 15px;
  text-shadow: 20px;
  display: flex;
  text-align: start;


}
.post>.info>.authorTitle {
  font-size: 5px;
  font-weight:120;
  text-shadow: 3px;
} 
.post>.body>p {
  text-align: left;
  color: #444;
}
.postBook>.titleImg {
  display: flex;
  width: 100%;
  height: 90px;
  align-self: center;
  object-fit:cover;
  margin-top: -50px;
} 
.postBook>.bodyImg {
  display: flex;
  width: 100%;
  height: 100px;
  align-self: center;
  object-fit: cover;
  margin-top: 3px;
} 